@import "../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans&family=Oswald:wght@300&family=Playfair+Display&display=swap");

@mixin htext {
    background-color: black;
    padding: 80px;
    h3 {
        font-family: "Oswald", sans-serif;
        color: #ffffff;
        font-size: 40px;
        letter-spacing: 2px;
    }
    p {
        margin: 0;
        font-size: 25px;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
    }
}

#Home {
    video {
        position: absolute;
        z-index: -10;
        width: 100%;
    }
    nav {
        padding-top: 10px;
        position: fixed;
        text-align: center;
        height: 100px;
        width: 100%;
        z-index: 10;
        h1 {
            margin-top: 30px;
            color: #f7ea00;
            font-size: 30px;
            font-family: "Playfair Display", serif;
            letter-spacing: 3px;
        }
    }
    .dark {
        background-color: black;
        height: 100px;
    }
    .section1 {
        height: 720px;
        article {
            text-align: center;
            h3 {
                animation-name: intro;
                animation-duration: 1s;
                font-family: "Montserrat", sans-serif;
                font-size: 70px;
                letter-spacing: 10px;
                color: #ffffff;
            }
            h4 {
                font-family: "Open Sans", sans-serif;
                letter-spacing: 2px;
                font-size: 20px;
                color: #ffffff;
            }
            padding-top: 100px;
            padding-left: 20px;
            color: white;
        }
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
    }
    .section2 {
        height: 300px;
        text-align: center;
        @include htext();
    }
    .section3 {
        @include htext();
        text-align: left;
        .Ven {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
        }
        h3 {
            margin: auto auto 0 auto;
        }
        p {
            margin-top: 10%;
            padding: 20px;
        }
        img {
            height: 400px;
            width: 400px;
            object-fit: contain;
        }
    }

    .section4 {
        @extend .section3;
        ul {
            color: white;
            font-family: "Open Sans", sans-serif;
            font-size: 20px;
            padding: 0 50px;
            margin-top: 10%;
        }
    }

    .section5 {
        text-align: center;
        @include htext();
    }
}
.anime {
    animation-name: animetext;
    animation-duration: 2s;
}
.layout {
    animation-name: layout;
    animation-duration: 3s;
}
@keyframes animetext {
    from {
        color: rgba(255, 255, 255, 0);
        transform: translateY(200px);
    }
    to {
        color: rgb(255, 255, 255);
    }
}

@keyframes intro {
    from {
        color: rgba(255, 255, 255, 0);
        transform: translateY(100px);
    }
    to {
        color: rgb(255, 255, 255);
    }
}

@keyframes layout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
